Debug/cl.command.1.tlog
Debug/CL.read.1.tlog
Debug/CL.write.1.tlog
Debug/Kinece2_Calibration_main.obj
Debug/Kinect2_Calibration.Build.CppClean.log
Debug/Kinect2_Calibration.exe.intermediate.manifest
Debug/Kinect2_Calibration.lastbuildstate
Debug/Kinect2_Calibration.log
Debug/link.command.1.tlog
Debug/link.read.1.tlog
Debug/link.read.2.tlog
Debug/link.write.1.tlog
Debug/mt.command.1.tlog
Debug/mt.read.1.tlog
Debug/mt.write.1.tlog
Debug/vc100.idb
Debug/vc100.pdb
Kinect2_Calibration.vcxproj
Kinect2_Calibration.vcxproj.filters
Kinect2_Calibration.vcxproj.user
